<style type="text/css">
.previewable {
	cursor: pointer;
}
.overlay {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000000ed;
	position: fixed;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.photo-preview {
	max-height: 80%;
	max-width: 80%;
}
.body-lock {
	overflow: hidden;
}
</style>
<script type="text/javascript">
	$(".previewable").click((e) => {
		$("body").append(`<div class='overlay'><img class='photo-preview' src="${e.target.src}"/></div>`).addClass("body-lock")
		$("div.overlay").click((e) => {
			if (e.target.tagName === 'DIV') {
				$(e.target).remove();
				$("body").removeClass("body-lock")		
			}
		});
	});
</script>