body {
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

/* Naavbar */
.navbar-brand {
    color: red !important;
    font-size: 2em;
    font-weight: 600;
}

.navbar-brand p {
    font-size: 14px;
    font-weight: 400;
    color: #9c9c9c;
    margin-bottom: 3px;
}

.navbar-brand:hover {
    background: red;
    color: red !important;
}

li a {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: none !important;
}

li a:hover {
    color: #ccc !important;
}

a {
    text-shadow: none !important;
}

.tile {
    width: 100%;
    padding-bottom: 30px;
    padding: 10px;
    background: #eaeaea;
    display: block;
    color: black;
    text-decoration: none !important;
}

.tile-light {
    color: white !important;
}

.tile.tile-light p {
    color: white;
}

.tile-red {
    background: #ea2b2b !important;
    color: white !important;

}

.tile:hover {
    opacity: .9;
}

.tile h2 {
    margin-top:0;
    font-weight: 800;
}

.tile p {
    color: #7d7d7d;
}

.tile-blue p, .tile-red p {
    color: white;
}

li a {
    color: #e1e1e1 !important;
}

li.d-active a {
    color: #777 !important;
}

body {
    margin-top: 20px !important;
    padding-bottom: 80px;
}

img {
    width: 100%;
}

a.mag img:hover {
    opacity: .9;
}

.row div {
    margin-top: 30px;
}

.navbar {
    background: white !important;
    color: red !important;
    border: none;
}

.theme-showcase {
    margin-top: 40px;
}

.quote {
    font-size: 2em;
    font-weight: 300;
}

@media (min-width: 768px) {
  .container {
    width: 550px;
  }
  body {
      margin-top: 80px !important;
      padding-bottom: 120px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 770px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
